@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    font-family: 'Courier New', monospace;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredericka the Great', cursive;
  }
}